<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765155889107-49tfthi5encbdusq8vmvc6oft538vp1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765155889107-49tfthi5encbdusq8vmvc6oft538vp1g</string>
	<key>API_KEY</key>
	<string>AIzaSyCM_2DQU2Y5TUSEQDIZxsuFS4eNcGK1vJo</string>
	<key>GCM_SENDER_ID</key>
	<string>765155889107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.designcode.FirebaseStorage</string>
	<key>PROJECT_ID</key>
	<string>storage-ababb</string>
	<key>STORAGE_BUCKET</key>
	<string>storage-ababb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765155889107:ios:1e35f1780797869ada6926</string>
</dict>
</plist>